Repository GrosvenorEngineeringGroup/sbm-ingester: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, trailing-whitespace

ruff-check:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

trailing-whitespace:
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"Error: Trailing whitespace found\"\n  exit 1\nfi\n"

fix: move sqlmodel and psycopg2-binary to dev dependencies
  pyproject.toml
  uv.lock
Due: trailing-whitespace

feat: add country support to interval exporter for NZ ICP data
  scripts/backfill_country_to_dynamodb.py
  src/functions/optima_exporter/interval_exporter/downloader.py
  src/functions/optima_exporter/interval_exporter/processor.py
  src/functions/optima_exporter/optima_shared/dynamodb.py
  tests/unit/optima_exporter/interval_exporter/test_downloader.py
  tests/unit/optima_exporter/optima_shared/test_dynamodb.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: use Secrets Manager for Aurora password and adjust optima schedules
  terraform/aurora.tf
  terraform/optima_exporter.tf
  terraform/outputs.tf
  terraform/variables.tf
Due: none

feat: add billing data models, scripts, and Aurora schema updates
  pyproject.toml
  scripts/billing_neptune_helper.py
  scripts/export_billing_to_hudi.py
  scripts/fetch_billing_point_ids.py
  scripts/generate_billing_points_csv.py
  scripts/import_billing_csv.py
  scripts/import_billing_points.py
  src/shared/db/engine.py
  src/shared/db/models/bill.py
  src/shared/db/models/meter.py
  src/shared/db/models/site.py
  tests/unit/test_import_billing_csv.py
  uv.lock
Due: ruff-check, ruff-format, trailing-whitespace

chore: update gitignore, docs, and NEM12 mappings
  .gitignore
  docs/nem12_mappings_latest.json
  docs/plans/2026-02-23-billing-csv-import-design.md
  docs/plans/2026-02-23-billing-csv-import.md
  docs/plans/2026-02-23-billing-neptune-hudi-design.md
  docs/plans/2026-02-23-billing-points-import-design.md
Due: trailing-whitespace

fix: pin dorny/paths-filter to latest SHA to fix 401 error
  .github/workflows/main.yml
Due: trailing-whitespace

feat: store per-channel quality flags in nem_adapter DataFrames
  src/shared/nem_adapter.py
  tests/unit/test_nem_adapter.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add per-channel quality to streaming path in nem_adapter
  src/shared/nem_adapter.py
  tests/unit/test_nem12_streaming.py
  tests/unit/test_nem_adapter.py
  tests/unit/test_nem_adapter_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add quality column to DirectCSVWriter and file processor
  src/functions/file_processor/app.py
  tests/unit/test_batch_s3_writes.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add quality column to local NEM12 processing script
  scripts/process_nem12_locally.py
  tests/unit/test_process_nem12_locally.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add quality column to Glue schema and enable Hudi schema evolution
  src/glue/hudi_import/script.py
  tests/unit/test_glue_hudi_import.py
  tests/unit/test_glue_trigger.py
Due: ruff-check, ruff-format, trailing-whitespace

test: add comprehensive quality flag edge case and integration tests
  tests/unit/test_batch_s3_writes.py
  tests/unit/test_integration.py
  tests/unit/test_nem_adapter_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: handle NaN quality values from mismatched channel reading counts
  scripts/process_nem12_locally.py
  src/functions/file_processor/app.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: move sqlmodel and psycopg2-binary to optional db dependencies to reduce Lambda package size
  pyproject.toml
  uv.lock
Due: trailing-whitespace

feat: add Noosa Solar CSV parser with Fronius mode mapping
  src/shared/noosa_solar_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: remove .tolist() call on plain list in timezone warning
  src/shared/noosa_solar_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: register Noosa Solar parser in dispatcher
  src/shared/non_nem_parsers.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add p: prefix bypass to skip Neptune mapping for direct point IDs
  src/functions/file_processor/app.py
Due: ruff-check, ruff-format, trailing-whitespace

test: add comprehensive tests for Noosa Solar parser
  tests/unit/test_noosa_solar_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: add Noosa Solar parser design spec
  docs/plans/2026-04-01-noosa-solar-parser-design.md
Due: trailing-whitespace

fix: correct Fronius mode 12 from Processed to Performed
  docs/plans/2026-04-01-noosa-solar-parser-design.md
  src/shared/noosa_solar_parser.py
  tests/unit/test_noosa_solar_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: replace Glue 3.0 Hudi Marketplace connector with Glue 4.0 native Hudi
  terraform/glue.tf
Due: none

fix: strip parenthesized suffix from Noosa Solar sensor IDs
  src/shared/noosa_solar_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: strip parenthesized suffix from Noosa Solar sensor IDs
  tests/unit/test_noosa_solar_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: correct DynamoDB TTL attribute name from ttl to expiration
  terraform/ingester.tf
Due: none

chore: reduce idempotency TTL from 24h to 12h
  src/functions/file_processor/app.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: add design spec for Optima interval exporter NEM12 migration
  docs/superpowers/specs/2026-04-13-optima-interval-exporter-nem12-migration-design.md
Due: trailing-whitespace

docs: refine Optima NEM12 migration spec post-review
  docs/superpowers/specs/2026-04-13-optima-interval-exporter-nem12-migration-design.md
Due: trailing-whitespace

docs: add implementation plan for Optima NEM12 migration
  docs/superpowers/plans/2026-04-13-optima-interval-exporter-nem12-migration.md
Due: trailing-whitespace

docs: revise Optima NEM12 migration plan per review feedback
  docs/superpowers/plans/2026-04-13-optima-interval-exporter-nem12-migration.md
Due: trailing-whitespace

test: add realistic BidEnergy NEM12 fixtures (plain, BOM, CRLF)
  src/libs/nemreader/nem_reader.py
  tests/unit/fixtures/optima_bidenergy_nem12_bom.csv
  tests/unit/fixtures/optima_bidenergy_nem12_crlf.csv
  tests/unit/fixtures/optima_bidenergy_nem12_sample.csv
Due: ruff-check, ruff-format, trailing-whitespace

feat: add _prefix_nmi_in_nem12 byte-level helper for Optima namespace
  src/functions/optima_exporter/interval_exporter/downloader.py
  tests/unit/optima_exporter/interval_exporter/test_downloader.py
Due: ruff-check, ruff-format, trailing-whitespace

test: rebaseline test env to DAYS_BACK=1 and MAX_WORKERS=20
  tests/unit/optima_exporter/conftest.py
  tests/unit/optima_exporter/interval_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: align source defaults to DAYS_BACK=1 and MAX_WORKERS=20
  src/functions/optima_exporter/optima_shared/config.py
  tests/unit/optima_exporter/interval_exporter/test_processor.py
  tests/unit/optima_exporter/optima_shared/test_config.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: anchor start_date to provided end_date in partial-date input
  src/functions/optima_exporter/interval_exporter/processor.py
  tests/unit/optima_exporter/interval_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: reject invalid date ranges with statusCode 400
  src/functions/optima_exporter/interval_exporter/processor.py
  tests/unit/optima_exporter/interval_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: catch inverted range after partial-date resolution
  src/functions/optima_exporter/interval_exporter/processor.py
  tests/unit/optima_exporter/interval_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: switch to NEM12 endpoint with Optima_ namespace prefix rewrite
  src/functions/optima_exporter/interval_exporter/downloader.py
  src/functions/optima_exporter/interval_exporter/processor.py
  tests/unit/optima_exporter/interval_exporter/test_downloader.py
  tests/unit/optima_exporter/interval_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

chore: align Terraform env vars with new source defaults
  terraform/optima_exporter.tf
Due: none

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  trailing-whitespace: any of: *.{py,md,yml,yaml,json,toml}
