Repository GrosvenorEngineeringGroup/sbm-ingester: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, trailing-whitespace

lefthook.yml:

# Lefthook configuration for sbm-ingester
# https://github.com/evilmartians/lefthook

# Pre-commit: Fast checks before each commit
pre-commit:
  parallel: true
  commands:
    # Ruff linting with auto-fix
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true  # Auto-stage fixed files

    # Ruff formatting
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # Check for trailing whitespace
    trailing-whitespace:
      glob: "*.{py,md,yml,yaml,json,toml}"
      run: |
        if grep -n '[[:space:]]$' {staged_files}; then
          echo "Error: Trailing whitespace found"
          exit 1
        fi

    # Validate YAML files (optional - requires PyYAML)
    # yaml-check:
    #   glob: "*.{yml,yaml}"
    #   run: uv run python -c "import yaml; [yaml.safe_load(open(f)) for f in '{staged_files}'.split()]"

# Pre-push: Run tests before pushing (can be slow)
pre-push:
  commands:
    # Run all tests
    pytest:
      run: uv run pytest -v

    # Check test coverage
    coverage:
      run: uv run pytest --cov=src --cov-report=term-missing --cov-fail-under=90

# Commit message validation (optional)
commit-msg:
  commands:
    # Enforce conventional commit format
    # commitlint:
    #   run: |
    #     if ! grep -qE '^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,72}' {1}; then
    #       echo "Commit message must follow Conventional Commits format"
    #       echo "Example: feat: add new feature"
    #       exit 1
    #     fi

# Skip hooks with LEFTHOOK=0 or LEFTHOOK_EXCLUDE=pytest

test: lock interval_parser dual-channel contract (Usage + Generation)
  tests/unit/parsers/optima/test_interval.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: add optima demand profile parser design spec
  docs/superpowers/specs/2026-05-05-optima-demand-profile-parser-design.md
Due: trailing-whitespace

docs: address reviewer findings on demand profile parser spec
  docs/superpowers/specs/2026-05-05-optima-demand-profile-parser-design.md
Due: trailing-whitespace

docs: add browser-verified BidEnergy endpoint info + No data found handling
  docs/superpowers/specs/2026-05-05-optima-demand-profile-parser-design.md
Due: trailing-whitespace

docs: add implementation plan for demand profile parser
  docs/superpowers/plans/2026-05-05-optima-demand-profile-parser.md
Due: trailing-whitespace

docs: address reviewer findings on demand parser plan
  docs/superpowers/plans/2026-05-05-optima-demand-profile-parser.md
Due: trailing-whitespace

refactor: extract nem12_mappings loader into shared parsers/_mappings.py
  src/shared/parsers/_mappings.py
  src/shared/parsers/optima/bunnings_billing.py
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/test_mappings.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: scaffold demand_parser with filename + content gates
  src/shared/parsers/optima/demand.py
  tests/unit/parsers/optima/conftest.py
  tests/unit/parsers/optima/test_demand.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: parse demand profile CSV body, handle no-data-found sentinel
  src/shared/parsers/optima/demand.py
  tests/unit/parsers/optima/test_demand.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: implement demand_parser mapping lookup and Hudi S3 write
  src/shared/parsers/optima/demand.py
  tests/unit/parsers/optima/test_demand.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: wire demand_parser into the non_nem_parsers dispatcher
  src/shared/non_nem_parsers.py
  tests/unit/parsers/optima/test_demand.py
Due: ruff-check, ruff-format, trailing-whitespace

chore: add scripts/generate_demand_points.py to produce data/demand_points.csv
  scripts/generate_demand_points.py
Due: ruff-check, ruff-format, trailing-whitespace

chore: add scripts/import_demand_points.py for Neptune point creation
  scripts/import_demand_points.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: preserve source value precision in demand parser Hudi rows
  src/shared/parsers/optima/demand.py
  tests/unit/parsers/optima/test_demand.py
Due: ruff-check, ruff-format, trailing-whitespace

chore: generated data/demand_points.csv and demand_point_ids.csv
  data/demand_point_ids.csv
  data/demand_points.csv
Due: none

chore: remove stale design docs
  docs/plans/2026-04-01-noosa-solar-parser-design.md
  docs/plans/2026-04-14-bunnings-billing-parser-design.md
Due: trailing-whitespace

docs: archive unrelated implementation plans
  docs/superpowers/plans/2026-04-16-neptune-pm-reassignment-migration.md
  docs/superpowers/plans/2026-04-30-nem12-timezone-fix.md
  docs/superpowers/plans/2026-04-30-sbm-ingester-timezone-pipeline-fix.md
Due: trailing-whitespace

docs: add optima demand exporter design spec
  docs/superpowers/specs/2026-05-05-optima-demand-exporter-design.md
Due: trailing-whitespace

docs: fix demand exporter spec per reviewer findings
  docs/superpowers/specs/2026-05-05-optima-demand-exporter-design.md
Due: trailing-whitespace

docs: add optima demand exporter implementation plan
  docs/superpowers/plans/2026-05-05-optima-demand-exporter.md
Due: trailing-whitespace

docs: fix demand exporter plan per reviewer findings
  docs/superpowers/plans/2026-05-05-optima-demand-exporter.md
Due: trailing-whitespace

feat: add demand_exporter package skeleton and test fixtures
  src/functions/optima_exporter/demand_exporter/__init__.py
  tests/unit/optima_exporter/conftest.py
  tests/unit/optima_exporter/demand_exporter/__init__.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add demand_exporter uploader (verbatim copy of nem12 uploader)
  src/functions/optima_exporter/demand_exporter/uploader.py
  tests/unit/optima_exporter/demand_exporter/test_uploader.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add demand_exporter downloader with happy-path CSV download
  src/functions/optima_exporter/demand_exporter/downloader.py
  tests/unit/optima_exporter/demand_exporter/test_downloader.py
Due: ruff-check, ruff-format, trailing-whitespace

test: lock in no-data sentinel returns bytes for audit upload
  tests/unit/optima_exporter/demand_exporter/test_downloader.py
Due: ruff-check, ruff-format, trailing-whitespace

test: cover downloader error branches (401/403/404/500/timeout/conn-error/HTML)
  tests/unit/optima_exporter/demand_exporter/test_downloader.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add demand_exporter processor with get_date_range
  src/functions/optima_exporter/demand_exporter/processor.py
  tests/unit/optima_exporter/demand_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add demand_exporter process_site (sentinel uploaded for audit)
  src/functions/optima_exporter/demand_exporter/processor.py
  tests/unit/optima_exporter/demand_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add demand_exporter process_export with parallel orchestration
  src/functions/optima_exporter/demand_exporter/processor.py
  tests/unit/optima_exporter/demand_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add demand_exporter Lambda handler
  src/functions/optima_exporter/demand_exporter/app.py
  tests/unit/optima_exporter/demand_exporter/test_app.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add optima-demand-exporter Lambda + 14:30 daily schedules + alarm
  terraform/ingester.tf
  terraform/optima_exporter.tf
Due: none

ci: include optima-demand-exporter in build + deploy steps
  .github/workflows/main.yml
Due: trailing-whitespace

feat: support racv in demand point generate/import scripts
  data/demand_points_racv.csv
  scripts/generate_demand_points.py
  scripts/import_demand_points.py
Due: ruff-check, ruff-format, trailing-whitespace

chore: generated data/demand_point_ids_racv.csv from racv import (165 points)
  data/demand_point_ids_racv.csv
Due: none

docs: add optima interval exporter design spec
  docs/superpowers/specs/2026-05-06-optima-interval-exporter-design.md
Due: trailing-whitespace

docs: revise interval exporter spec to fix parser date-format bug
  docs/superpowers/specs/2026-05-06-optima-interval-exporter-design.md
Due: trailing-whitespace

docs: revise interval-exporter spec after truth-check pass
  docs/superpowers/specs/2026-05-06-optima-interval-exporter-design.md
  tests/unit/fixtures/optima_interval/interval_au_4month.csv
  tests/unit/fixtures/optima_interval/interval_au_single_day.csv
  tests/unit/fixtures/optima_interval/interval_empty.csv
  tests/unit/fixtures/optima_interval/interval_nz_single_day.csv
Due: trailing-whitespace

docs: add optima-interval-exporter implementation plan
  docs/superpowers/plans/2026-05-06-optima-interval-exporter.md
Due: trailing-whitespace

docs: address subagent review of interval-exporter plan
  docs/superpowers/plans/2026-05-06-optima-interval-exporter.md
  docs/superpowers/specs/2026-05-06-optima-interval-exporter-design.md
Due: trailing-whitespace

docs: refresh README and AGENTS for demand exporter + interval exporter prep
  AGENTS.md
  README.md
Due: trailing-whitespace
