Repository GrosvenorEngineeringGroup/sbm-ingester: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, trailing-whitespace

lefthook.yml:

# Lefthook configuration for sbm-ingester
# https://github.com/evilmartians/lefthook

# Pre-commit: Fast checks before each commit
pre-commit:
  parallel: true
  commands:
    # Ruff linting with auto-fix
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true  # Auto-stage fixed files

    # Ruff formatting
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # Check for trailing whitespace
    trailing-whitespace:
      glob: "*.{py,md,yml,yaml,json,toml}"
      run: |
        if grep -n '[[:space:]]$' {staged_files}; then
          echo "Error: Trailing whitespace found"
          exit 1
        fi

    # Validate YAML files (optional - requires PyYAML)
    # yaml-check:
    #   glob: "*.{yml,yaml}"
    #   run: uv run python -c "import yaml; [yaml.safe_load(open(f)) for f in '{staged_files}'.split()]"

# Pre-push: Run tests before pushing (can be slow)
pre-push:
  commands:
    # Run all tests
    pytest:
      run: uv run pytest -v

    # Check test coverage
    coverage:
      run: uv run pytest --cov=src --cov-report=term-missing --cov-fail-under=90

# Commit message validation (optional)
commit-msg:
  commands:
    # Enforce conventional commit format
    # commitlint:
    #   run: |
    #     if ! grep -qE '^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,72}' {1}; then
    #       echo "Commit message must follow Conventional Commits format"
    #       echo "Example: feat: add new feature"
    #       exit 1
    #     fi

# Skip hooks with LEFTHOOK=0 or LEFTHOOK_EXCLUDE=pytest

feat: add observability fields and final-status calc ladder
  src/functions/file_processor/app.py
  src/shared/parsers/__init__.py
  src/shared/parsers/optima/racv_billing.py
  src/shared/parsers/outcome.py
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/optima/test_racv_billing.py
  tests/unit/parsers/test_outcome.py
  tests/unit/test_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: revert dataframe parser row-level strict raise
  src/shared/parsers/envizi/vertical_electricity.py
  src/shared/parsers/envizi/vertical_water.py
  src/shared/parsers/envizi/vertical_water_bulk.py
  src/shared/parsers/green_square/comx.py
  src/shared/parsers/optima/interval.py
  src/shared/parsers/racv/elec.py
  src/shared/parsers/racv/noosa_solar.py
  tests/unit/parsers/envizi/test_vertical_electricity.py
  tests/unit/parsers/envizi/test_vertical_water.py
  tests/unit/parsers/envizi/test_vertical_water_bulk.py
  tests/unit/parsers/green_square/test_comx.py
  tests/unit/parsers/optima/test_interval.py
  tests/unit/parsers/racv/test_elec.py
  tests/unit/parsers/racv/test_noosa_solar.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: revert side-effect parser row-level strict raise
  src/shared/parsers/optima/bunnings_billing.py
  src/shared/parsers/optima/demand.py
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/optima/test_demand.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: defer cell-level vs row-level skip_reasons policy to Task 21
  docs/superpowers/plans/2026-05-06-parser-outcome-semantics.md
Due: trailing-whitespace

feat: revert _candidate_values to skip-and-count + narrow NEM12 fallback
  src/functions/file_processor/app.py
  tests/unit/test_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: short-circuit empty NEM12/NEM13 envelopes to processed_empty
  src/functions/file_processor/app.py
  tests/unit/fixtures/nem13_empty.csv
  tests/unit/test_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: BOM-aware cheap relevance gates + restructure full-parse-before-gate
  src/shared/parsers/envizi/vertical_electricity.py
  src/shared/parsers/envizi/vertical_water.py
  src/shared/parsers/envizi/vertical_water_bulk.py
  src/shared/parsers/green_square/comx.py
  src/shared/parsers/optima/demand.py
  src/shared/parsers/optima/interval.py
  src/shared/parsers/racv/elec.py
  tests/unit/parsers/envizi/test_vertical_electricity.py
  tests/unit/parsers/envizi/test_vertical_water.py
  tests/unit/parsers/envizi/test_vertical_water_bulk.py
  tests/unit/parsers/green_square/test_comx.py
  tests/unit/parsers/optima/test_demand.py
  tests/unit/parsers/optima/test_interval.py
  tests/unit/parsers/racv/test_elec.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: quality column NULL policy — never write empty string
  src/functions/file_processor/app.py
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/optima/test_demand.py
  tests/unit/test_batch_s3_writes.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: sidecar audit log + partial-recognition metrics
  src/functions/file_processor/app.py
  src/shared/audit.py
  tests/unit/test_audit.py
  tests/unit/test_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: canonicalize ParserReason strings + extract shared coerce helper
  src/shared/parsers/_coerce.py
  src/shared/parsers/envizi/vertical_electricity.py
  src/shared/parsers/envizi/vertical_water.py
  src/shared/parsers/envizi/vertical_water_bulk.py
  src/shared/parsers/green_square/comx.py
  src/shared/parsers/optima/bunnings_billing.py
  src/shared/parsers/optima/demand.py
  src/shared/parsers/optima/interval.py
  src/shared/parsers/racv/elec.py
  src/shared/parsers/racv/noosa_solar.py
  tests/unit/parsers/envizi/test_vertical_electricity.py
  tests/unit/parsers/envizi/test_vertical_water.py
  tests/unit/parsers/envizi/test_vertical_water_bulk.py
  tests/unit/parsers/green_square/test_comx.py
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/optima/test_demand.py
  tests/unit/parsers/optima/test_interval.py
  tests/unit/parsers/racv/test_noosa_solar.py
  tests/unit/parsers/test_coerce.py
  tests/unit/test_non_nem_parsers_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add test-only ParserOutcome cross-field invariant helper
  docs/superpowers/specs/2026-05-06-parser-outcome-semantics-design.md
  tests/_outcome_invariants.py
  tests/unit/parsers/optima/test_outcome_invariants_real.py
  tests/unit/parsers/test_outcome_invariants.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: clarify invariants apply to final outcome only
  docs/superpowers/specs/2026-05-06-parser-outcome-semantics-design.md
Due: trailing-whitespace

fix: align identifier observability with spec
  src/functions/file_processor/app.py
  src/shared/parsers/optima/bunnings_billing.py
  src/shared/parsers/optima/demand.py
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/optima/test_demand.py
  tests/unit/test_audit.py
  tests/unit/test_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

docs+refactor: resolve G18 and G19 deferred gaps
  docs/superpowers/plans/2026-05-06-parser-outcome-gap-analysis.md
  docs/superpowers/specs/2026-05-06-parser-outcome-semantics-design.md
  src/functions/file_processor/app.py
  src/shared/parsers/outcome.py
  tests/_outcome_invariants.py
  tests/unit/parsers/test_outcome.py
  tests/unit/parsers/test_outcome_invariants.py
Due: ruff-check, ruff-format, trailing-whitespace

docs+test: address final-review residual gaps
  docs/superpowers/plans/2026-05-06-parser-outcome-semantics.md
  docs/superpowers/specs/2026-05-06-parser-outcome-semantics-design.md
  tests/unit/test_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: add per-file ingest refactor design spec
  docs/superpowers/specs/2026-05-07-per-file-ingest-refactor-design.md
Due: trailing-whitespace

docs: expand spec to include Tier 2 hardening (except Lambda memory tuning)
  docs/superpowers/specs/2026-05-07-per-file-ingest-refactor-design.md
Due: trailing-whitespace

docs: address spec review findings
  docs/superpowers/specs/2026-05-07-per-file-ingest-refactor-design.md
Due: trailing-whitespace

chore: update NEM12 mappings
  docs/nem12_mappings_latest.json
Due: trailing-whitespace

docs: add implementation plan for per-file ingest refactor
  docs/superpowers/plans/2026-05-07-per-file-ingest-refactor.md
Due: trailing-whitespace

refactor: move outcome invariants helper into tests.helpers package
  tests/helpers/__init__.py
  tests/helpers/outcome_invariants.py
  tests/unit/parsers/optima/test_outcome_invariants_real.py
  tests/unit/parsers/test_outcome_invariants.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add SourceFile frozen dataclass for idempotency key payload
  src/shared/__init__.py
  src/shared/source_file.py
  tests/unit/test_source_file.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: rename BUCKET_NAME/IRREVFILES_DIR and add Hudi prefix constants
  src/functions/file_processor/app.py
  src/functions/weekly_archiver/app.py
  src/shared/__init__.py
  src/shared/audit.py
  src/shared/common.py
  src/shared/parsers/optima/bunnings_billing.py
  src/shared/parsers/optima/demand.py
  tests/unit/test_common.py
  tests/unit/test_weekly_archiver.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: complete INPUT_BUCKET sweep across remaining production sites
  src/functions/nem12_exporter/app.py
  src/functions/redrive_handler/app.py
  src/shared/parsers/_mappings.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add _is_nem_envelope_only helper in shared.nem_adapter
  src/shared/nem_adapter.py
  tests/unit/test_nem_envelope_only.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: extend ParserOutcome with parse_failed status, derive_final, dataframes rename
  src/functions/file_processor/app.py
  src/shared/non_nem_parsers.py
  src/shared/parsers/envizi/vertical_electricity.py
  src/shared/parsers/envizi/vertical_water.py
  src/shared/parsers/envizi/vertical_water_bulk.py
  src/shared/parsers/green_square/comx.py
  src/shared/parsers/optima/interval.py
  src/shared/parsers/outcome.py
  src/shared/parsers/racv/elec.py
  src/shared/parsers/racv/noosa_solar.py
  tests/helpers/outcome_invariants.py
  tests/unit/parsers/envizi/test_vertical_electricity.py
  tests/unit/parsers/envizi/test_vertical_water.py
  tests/unit/parsers/envizi/test_vertical_water_bulk.py
  tests/unit/parsers/green_square/test_comx.py
  tests/unit/parsers/optima/test_interval.py
  tests/unit/parsers/racv/test_elec.py
  tests/unit/parsers/racv/test_noosa_solar.py
  tests/unit/parsers/test_outcome.py
  tests/unit/test_dispatcher.py
  tests/unit/test_edge_cases.py
  tests/unit/test_outcome_derive_final.py
Due: ruff-check, ruff-format, trailing-whitespace

test: add parse_failed branch coverage to invariants helper tests
  tests/unit/parsers/test_outcome_invariants.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: drop unused error_file_path parameter from all parsers
  src/functions/file_processor/app.py
  src/shared/non_nem_parsers.py
  src/shared/parsers/envizi/vertical_electricity.py
  src/shared/parsers/envizi/vertical_water.py
  src/shared/parsers/envizi/vertical_water_bulk.py
  src/shared/parsers/green_square/comx.py
  src/shared/parsers/optima/bunnings_billing.py
  src/shared/parsers/optima/demand.py
  src/shared/parsers/optima/interval.py
  src/shared/parsers/optima/racv_billing.py
  src/shared/parsers/racv/elec.py
  src/shared/parsers/racv/noosa_solar.py
  tests/unit/parsers/envizi/test_vertical_electricity.py
  tests/unit/parsers/envizi/test_vertical_water.py
  tests/unit/parsers/envizi/test_vertical_water_bulk.py
  tests/unit/parsers/green_square/test_comx.py
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/optima/test_demand.py
  tests/unit/parsers/optima/test_interval.py
  tests/unit/parsers/optima/test_outcome_invariants_real.py
  tests/unit/parsers/optima/test_racv_billing.py
  tests/unit/parsers/racv/test_elec.py
  tests/unit/parsers/racv/test_noosa_solar.py
  tests/unit/test_dispatcher.py
  tests/unit/test_edge_cases.py
  tests/unit/test_non_nem_parsers.py
  tests/unit/test_non_nem_parsers_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: move non_nem_parsers to parsers.dispatcher and rename to dispatch_non_nem
  src/functions/file_processor/app.py
  src/shared/__init__.py
  src/shared/parsers/dispatcher.py
  src/shared/parsers/optima/bunnings_billing.py
  tests/unit/parsers/envizi/test_vertical_electricity.py
  tests/unit/parsers/envizi/test_vertical_water.py
  tests/unit/parsers/envizi/test_vertical_water_bulk.py
  tests/unit/parsers/green_square/test_comx.py
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/optima/test_demand.py
  tests/unit/parsers/optima/test_interval.py
  tests/unit/parsers/racv/test_noosa_solar.py
  tests/unit/test_dispatcher.py
  tests/unit/test_edge_cases.py
  tests/unit/test_non_nem_parsers.py
  tests/unit/test_non_nem_parsers_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: extract HudiSourceCsvWriter into csv_writer.py and rename BATCH_SIZE
  src/functions/file_processor/app.py
  src/functions/file_processor/csv_writer.py
  tests/unit/test_batch_s3_writes.py
  tests/unit/test_csv_writer.py
  tests/unit/test_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

test: cover flush-then-abort rollback path in HudiSourceCsvWriter
  tests/unit/test_csv_writer.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add InstrumentedDynamoDBPersistenceLayer for cache-hit logging
  src/functions/file_processor/persistence.py
  tests/unit/test_persistence_cache_hit_log.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add ingest_file pipeline orchestrator with parse_failed caching
  src/functions/file_processor/pipeline.py
  tests/unit/test_idempotency_boundary.py
  tests/unit/test_pipeline.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: pipeline parse_failed move-failure visibility + remove dead p: branch
  src/functions/file_processor/pipeline.py
  tests/unit/test_pipeline.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: slim app.py to SQS adapter; require SQS_QUEUE_URL env var
  src/functions/file_processor/app.py
  tests/conftest.py
  tests/unit/optima_exporter/test_e2e_full_chain.py
  tests/unit/parsers/racv/test_noosa_solar.py
  tests/unit/test_batch_s3_writes.py
  tests/unit/test_edge_cases.py
  tests/unit/test_file_stability.py
  tests/unit/test_integration.py
  tests/unit/test_lambda_handler.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: decode S3 key before passing to SourceFile (URL-encoded keys broke move)
  src/functions/file_processor/app.py
  tests/unit/test_lambda_handler.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add SQS_QUEUE_URL env, bump visibility 900->1080, dynamodb deletion_protection
  terraform/ingester.tf
Due: none

feat: add file-processor cloudwatch alarms (retries, parse errors, error rate, idempotent skip)
  terraform/monitoring.tf
Due: none

chore: delete tests for removed _flush_buffer_to_s3 dead code
  tests/unit/test_batch_s3_writes.py
Due: ruff-check, ruff-format, trailing-whitespace

test: split test_edge_cases.py into focused files; add shared moto fixtures
  tests/conftest.py
  tests/unit/test_audit_sidecar_contract.py
  tests/unit/test_dataframe_partial_skip.py
  tests/unit/test_edge_cases.py
  tests/unit/test_nem_envelope_short_circuit.py
  tests/unit/test_unmapped_disposition.py
Due: ruff-check, ruff-format, trailing-whitespace
