Repository GrosvenorEngineeringGroup/sbm-ingester: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, trailing-whitespace

lefthook.yml:

# Lefthook configuration for sbm-ingester
# https://github.com/evilmartians/lefthook

# Pre-commit: Fast checks before each commit
pre-commit:
  parallel: true
  commands:
    # Ruff linting with auto-fix
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true  # Auto-stage fixed files

    # Ruff formatting
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # Check for trailing whitespace
    trailing-whitespace:
      glob: "*.{py,md,yml,yaml,json,toml}"
      run: |
        if grep -n '[[:space:]]$' {staged_files}; then
          echo "Error: Trailing whitespace found"
          exit 1
        fi

    # Validate YAML files (optional - requires PyYAML)
    # yaml-check:
    #   glob: "*.{yml,yaml}"
    #   run: uv run python -c "import yaml; [yaml.safe_load(open(f)) for f in '{staged_files}'.split()]"

# Pre-push: Run tests before pushing (can be slow)
pre-push:
  commands:
    # Run all tests
    pytest:
      run: uv run pytest -v

    # Check test coverage
    coverage:
      run: uv run pytest --cov=src --cov-report=term-missing --cov-fail-under=90

# Commit message validation (optional)
commit-msg:
  commands:
    # Enforce conventional commit format
    # commitlint:
    #   run: |
    #     if ! grep -qE '^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,72}' {1}; then
    #       echo "Commit message must follow Conventional Commits format"
    #       echo "Example: feat: add new feature"
    #       exit 1
    #     fi

# Skip hooks with LEFTHOOK=0 or LEFTHOOK_EXCLUDE=pytest

test: add end-to-end cache-hit log assertion in test_pipeline
  tests/unit/test_pipeline.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: drop double-decode in pipeline; emit ProcessedEmptyFiles metric
  src/functions/file_processor/pipeline.py
  tests/unit/test_nem12_real_file_equivalence.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: systematic review fixes (processed_external metric, retry_count log, taxonomy, prefix repair, tests, docs)
  src/functions/file_processor/app.py
  src/functions/file_processor/pipeline.py
  tests/unit/test_pipeline.py
  tests/unit/test_pipeline_metrics.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: convert noosa_solar AEDT timestamps to AEST standard time
  src/shared/parsers/racv/noosa_solar.py
  tests/unit/parsers/racv/test_noosa_solar.py
Due: ruff-check, ruff-format, trailing-whitespace

test: revive TestLambdaHandlerWithStabilityCheck; delete 3 redundant skipped tests
  tests/unit/optima_exporter/test_e2e_full_chain.py
  tests/unit/parsers/racv/test_noosa_solar.py
  tests/unit/test_file_stability.py
  tests/unit/test_integration.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: add ARCHITECTURE.md documenting post-refactor design
  docs/ARCHITECTURE.md
Due: trailing-whitespace

fix: enforce AEST-only contract on Noosa Solar (revert speculative AEDT conversion)
  src/shared/parsers/racv/noosa_solar.py
  tests/unit/parsers/racv/test_noosa_solar.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add Glue-based off-cadence row purge SOP
  docs/CLEANUP_OFFCADENCE_ROWS.md
  scripts/cleanup_configs/racv.conf
  scripts/glue_delete_offcadence_rows.py
  scripts/glue_delete_offcadence_rows.sh
Due: ruff-check, ruff-format, trailing-whitespace

fix: detect WA 'No data found' sentinel + bump REQUEUE_DELAY 60->90
  src/functions/file_processor/app.py
  src/shared/parsers/optima/interval.py
  tests/unit/fixtures/optima_interval/wa_no_data_found.csv
  tests/unit/parsers/optima/test_interval.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: add spec for post-deploy tuning of per-file ingest refactor
  docs/superpowers/specs/2026-05-12-post-deploy-tuning-design.md
Due: trailing-whitespace

docs: revise post-deploy-tuning spec from second review
  docs/superpowers/specs/2026-05-12-post-deploy-tuning-design.md
Due: trailing-whitespace

docs: add implementation plan for post-deploy tuning
  docs/superpowers/plans/2026-05-12-post-deploy-tuning.md
Due: trailing-whitespace

docs: restructure post-deploy-tuning plan from second review
  docs/superpowers/plans/2026-05-12-post-deploy-tuning.md
Due: trailing-whitespace

fix: treat HEAD 404 as duplicate S3 event + revert REQUEUE_DELAY 90->60
  src/functions/file_processor/app.py
  terraform/monitoring.tf
  tests/unit/test_file_stability.py
  tests/unit/test_lambda_handler.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: address code-review findings from 1803dfe (single duplicate-event log + test coverage)
  src/functions/file_processor/app.py
  tests/unit/test_file_stability.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: move Synergy WA sentinel detection into dedicated parser
  docs/superpowers/plans/2026-05-12-task-0-decision.md
  src/shared/parsers/dispatcher.py
  src/shared/parsers/optima/interval.py
  src/shared/parsers/synergy/__init__.py
  src/shared/parsers/synergy/wa_meter_data.py
  tests/unit/fixtures/synergy/wa_no_data_found.csv
  tests/unit/parsers/optima/test_interval.py
  tests/unit/parsers/synergy/__init__.py
  tests/unit/parsers/synergy/test_wa_meter_data.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: use existing no_data_sentinel ParserReason; align logger extra with peer parsers
  src/shared/parsers/synergy/wa_meter_data.py
  tests/unit/parsers/synergy/test_wa_meter_data.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: align persistence logger service so child=True inherits JSON formatter
  src/functions/file_processor/persistence.py
  tests/unit/test_persistence_cache_hit_log.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: align test idempotency table schema with production key_attr
  tests/unit/test_persistence_cache_hit_log.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: correct routing claims in synergy WA parser docstring
  src/shared/parsers/synergy/wa_meter_data.py
Due: ruff-check, ruff-format, trailing-whitespace

chore: add bunnings.conf for off-cadence row purge SOP
  scripts/cleanup_configs/bunnings.conf
Due: none

chore: stop tracking /data and docs/superpowers
  .gitignore
  data/demand_point_ids.csv
  data/demand_point_ids_racv.csv
  data/demand_points.csv
  data/demand_points_racv.csv
  docs/superpowers/plans/2026-04-13-optima-interval-exporter-nem12-migration.md
  docs/superpowers/plans/2026-04-14-bunnings-billing-parser.md
  docs/superpowers/plans/2026-04-14-optima-nem12-exporter-rename.md
  docs/superpowers/plans/2026-04-16-neptune-pm-reassignment-migration.md
  docs/superpowers/plans/2026-04-30-nem12-timezone-fix.md
  docs/superpowers/plans/2026-04-30-sbm-ingester-timezone-pipeline-fix.md
  docs/superpowers/plans/2026-05-05-non-nem-parsers-modularization.md
  docs/superpowers/plans/2026-05-05-optima-demand-exporter.md
  docs/superpowers/plans/2026-05-05-optima-demand-profile-parser.md
  docs/superpowers/plans/2026-05-06-optima-interval-exporter.md
  docs/superpowers/plans/2026-05-06-parser-outcome-gap-analysis.md
  docs/superpowers/plans/2026-05-06-parser-outcome-semantics.md
  docs/superpowers/plans/2026-05-07-per-file-ingest-refactor.md
  docs/superpowers/plans/2026-05-12-post-deploy-tuning.md
  docs/superpowers/plans/2026-05-12-task-0-decision.md
  docs/superpowers/specs/2026-04-13-optima-interval-exporter-nem12-migration-design.md
  docs/superpowers/specs/2026-04-14-optima-nem12-exporter-rename-design.md
  docs/superpowers/specs/2026-05-05-non-nem-parsers-modularization-design.md
  docs/superpowers/specs/2026-05-05-optima-demand-exporter-design.md
  docs/superpowers/specs/2026-05-05-optima-demand-profile-parser-design.md
  docs/superpowers/specs/2026-05-06-optima-interval-exporter-design.md
  docs/superpowers/specs/2026-05-06-parser-outcome-semantics-design.md
  docs/superpowers/specs/2026-05-07-per-file-ingest-refactor-design.md
  docs/superpowers/specs/2026-05-12-post-deploy-tuning-design.md
Due: trailing-whitespace

docs: refresh README for v0.7.0 (per-file refactor + post-deploy tuning)
  README.md
  pyproject.toml
  src/__init__.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add previous_month mode + 3-day rolling window to Optima exporters
  src/functions/optima_exporter/README.md
  src/functions/optima_exporter/demand_exporter/app.py
  src/functions/optima_exporter/demand_exporter/processor.py
  src/functions/optima_exporter/interval_exporter/app.py
  src/functions/optima_exporter/interval_exporter/processor.py
  src/functions/optima_exporter/optima_shared/dates.py
  terraform/optima_exporter.tf
  tests/unit/optima_exporter/demand_exporter/test_app.py
  tests/unit/optima_exporter/interval_exporter/test_app.py
  tests/unit/optima_exporter/optima_shared/test_dates.py
  uv.lock
Due: ruff-check, ruff-format, trailing-whitespace

docs: sync README Optima exporter schedules with current code
  README.md
Due: trailing-whitespace

docs: remove License section from README
  README.md
Due: trailing-whitespace

scaffold: billing_snapshot module + register on pythonpath
  pyproject.toml
  src/functions/billing_snapshot/__init__.py
  tests/unit/billing_snapshot/__init__.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: billing_snapshot config module
  src/functions/billing_snapshot/config.py
  tests/unit/billing_snapshot/test_config.py
  tests/unit/conftest.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: billing_snapshot pivot columns + field normalisation
  src/functions/billing_snapshot/pivot.py
  tests/unit/billing_snapshot/test_pivot.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: build_reverse_map extracts billing sensors from mappings JSON
  src/functions/billing_snapshot/pivot.py
  tests/unit/billing_snapshot/fixtures/mappings_truncated.json
  tests/unit/billing_snapshot/test_pivot.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: build_pivot long-to-wide transform
  src/functions/billing_snapshot/pivot.py
  tests/unit/billing_snapshot/test_pivot.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: derive_currencies per-NMI with conflict/unknown/suspect stats
  src/functions/billing_snapshot/pivot.py
  tests/unit/billing_snapshot/test_pivot.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: write_csv with empty-pivot guard
  src/functions/billing_snapshot/pivot.py
  tests/unit/billing_snapshot/test_pivot.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: athena chunk_sensor_ids + build_chunk_sql
  src/functions/billing_snapshot/athena.py
  tests/unit/billing_snapshot/test_athena.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: athena submit_query + poll_until_complete
  src/functions/billing_snapshot/athena.py
  tests/unit/billing_snapshot/conftest.py
  tests/unit/billing_snapshot/test_athena.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: athena read_results_csv from S3
  src/functions/billing_snapshot/athena.py
  tests/unit/billing_snapshot/fixtures/athena_results_sample.csv
  tests/unit/billing_snapshot/test_athena.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: athena run_chunks_parallel with fail-fast
  src/functions/billing_snapshot/athena.py
  tests/unit/billing_snapshot/test_athena.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: app.load_mappings with LastModified age
  src/functions/billing_snapshot/app.py
  tests/unit/billing_snapshot/test_app.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: app.lambda_handler end-to-end orchestration
  src/functions/billing_snapshot/app.py
  tests/unit/billing_snapshot/test_app.py
Due: ruff-check, ruff-format, trailing-whitespace

infra: Bunnings billing snapshot Lambda + workgroup + scheduler + alarm
  terraform/billing_snapshot.tf
Due: none
