Repository GrosvenorEngineeringGroup/sbm-ingester: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, trailing-whitespace

lefthook.yml:

# Lefthook configuration for sbm-ingester
# https://github.com/evilmartians/lefthook

# Pre-commit: Fast checks before each commit
pre-commit:
  parallel: true
  commands:
    # Ruff linting with auto-fix
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true  # Auto-stage fixed files

    # Ruff formatting
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # Check for trailing whitespace
    trailing-whitespace:
      glob: "*.{py,md,yml,yaml,json,toml}"
      run: |
        if grep -n '[[:space:]]$' {staged_files}; then
          echo "Error: Trailing whitespace found"
          exit 1
        fi

    # Validate YAML files (optional - requires PyYAML)
    # yaml-check:
    #   glob: "*.{yml,yaml}"
    #   run: uv run python -c "import yaml; [yaml.safe_load(open(f)) for f in '{staged_files}'.split()]"

# Pre-push: Run tests before pushing (can be slow)
pre-push:
  commands:
    # Run all tests
    pytest:
      run: uv run pytest -v

    # Check test coverage
    coverage:
      run: uv run pytest --cov=src --cov-report=term-missing --cov-fail-under=90

# Commit message validation (optional)
commit-msg:
  commands:
    # Enforce conventional commit format
    # commitlint:
    #   run: |
    #     if ! grep -qE '^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,72}' {1}; then
    #       echo "Commit message must follow Conventional Commits format"
    #       echo "Example: feat: add new feature"
    #       exit 1
    #     fi

# Skip hooks with LEFTHOOK=0 or LEFTHOOK_EXCLUDE=pytest

chore: gitignore AGENTS.md alongside CLAUDE.md
  .gitignore
  AGENTS.md
Due: trailing-whitespace

fix: handle BidEnergy 'No data is available' sentinel in interval_parser
  src/shared/parsers/optima/interval.py
  tests/unit/parsers/optima/test_interval.py
Due: ruff-check, ruff-format, trailing-whitespace

test: add fixture-driven regression tests for interval_parser
  tests/unit/parsers/optima/test_interval.py
Due: ruff-check, ruff-format, trailing-whitespace

test: tighten interval_parser fixture regressions
  tests/unit/parsers/optima/test_interval.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: scaffold interval_exporter package with uploader
  src/functions/optima_exporter/interval_exporter/__init__.py
  src/functions/optima_exporter/interval_exporter/uploader.py
  tests/unit/optima_exporter/interval_exporter/__init__.py
  tests/unit/optima_exporter/interval_exporter/test_uploader.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add format_date_for_url helper to interval_exporter downloader
  src/functions/optima_exporter/interval_exporter/downloader.py
  tests/unit/optima_exporter/interval_exporter/test_downloader.py
Due: ruff-check, ruff-format, trailing-whitespace

test: align interval downloader test docstring
  tests/unit/optima_exporter/interval_exporter/test_downloader.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add extract_first_csv ZIP to CSV extraction helper
  src/functions/optima_exporter/interval_exporter/downloader.py
  tests/unit/optima_exporter/interval_exporter/test_downloader.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: implement download_interval_zip with POST contract and ZIP validation
  src/functions/optima_exporter/interval_exporter/downloader.py
  tests/unit/optima_exporter/interval_exporter/test_downloader.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add interval_exporter processor with parallel site orchestration
  src/functions/optima_exporter/interval_exporter/processor.py
  tests/unit/optima_exporter/interval_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: return 400 for invalid interval exporter dates
  src/functions/optima_exporter/interval_exporter/processor.py
  tests/unit/optima_exporter/interval_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add interval_exporter Lambda handler
  src/functions/optima_exporter/interval_exporter/app.py
  tests/unit/optima_exporter/interval_exporter/test_app.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: align interval exporter handler logging and guard test
  src/functions/optima_exporter/interval_exporter/app.py
  tests/unit/optima_exporter/interval_exporter/test_app.py
Due: ruff-check, ruff-format, trailing-whitespace

ci: build and deploy optima-interval-exporter via GitHub Actions
  .github/workflows/main.yml
Due: trailing-whitespace

infra: add optima interval exporter resources
  terraform/optima_exporter.tf
Due: none

docs: document optima interval exporter
  README.md
  src/functions/optima_exporter/README.md
Due: trailing-whitespace

docs: add parser outcome semantics design
  docs/superpowers/specs/2026-05-06-parser-outcome-semantics-design.md
Due: trailing-whitespace

docs: add parser outcome implementation plan
  docs/superpowers/plans/2026-05-06-parser-outcome-semantics.md
  docs/superpowers/specs/2026-05-06-parser-outcome-semantics-design.md
Due: trailing-whitespace

docs: address final plan review findings
  docs/superpowers/plans/2026-05-06-optima-interval-exporter.md
  docs/superpowers/plans/2026-05-06-parser-outcome-semantics.md
  docs/superpowers/specs/2026-05-06-optima-interval-exporter-design.md
  docs/superpowers/specs/2026-05-06-parser-outcome-semantics-design.md
Due: trailing-whitespace

feat: add parser outcome contract
  src/shared/parsers/__init__.py
  src/shared/parsers/outcome.py
  tests/unit/parsers/test_outcome.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: return parser outcomes from dispatcher
  src/shared/non_nem_parsers.py
  tests/unit/test_dispatcher.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: return explicit demand parser outcomes
  src/shared/parsers/optima/demand.py
  tests/unit/parsers/optima/test_demand.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: return explicit billing parser outcomes
  src/shared/parsers/optima/bunnings_billing.py
  src/shared/parsers/optima/racv_billing.py
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/optima/test_racv_billing.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: reject malformed side-effect parser rows
  src/shared/parsers/optima/bunnings_billing.py
  src/shared/parsers/optima/demand.py
  src/shared/parsers/optima/racv_billing.py
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/optima/test_demand.py
  tests/unit/parsers/optima/test_racv_billing.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: reject malformed parser row shapes
  src/shared/parsers/optima/bunnings_billing.py
  src/shared/parsers/optima/demand.py
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/optima/test_demand.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: return outcomes from dataframe parsers
  src/shared/parsers/envizi/vertical_electricity.py
  src/shared/parsers/envizi/vertical_water.py
  src/shared/parsers/envizi/vertical_water_bulk.py
  src/shared/parsers/green_square/comx.py
  src/shared/parsers/optima/interval.py
  src/shared/parsers/racv/elec.py
  src/shared/parsers/racv/noosa_solar.py
  tests/unit/parsers/envizi/test_vertical_electricity.py
  tests/unit/parsers/envizi/test_vertical_water.py
  tests/unit/parsers/envizi/test_vertical_water_bulk.py
  tests/unit/parsers/green_square/test_comx.py
  tests/unit/parsers/optima/test_interval.py
  tests/unit/parsers/racv/test_elec.py
  tests/unit/parsers/racv/test_noosa_solar.py
  tests/unit/test_dispatcher.py
  tests/unit/test_non_nem_parsers.py
  tests/unit/test_non_nem_parsers_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: reject malformed noosa solar numeric values
  src/shared/parsers/racv/noosa_solar.py
  tests/unit/parsers/racv/test_noosa_solar.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: move source files by parser outcome
  src/functions/file_processor/app.py
  tests/unit/test_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: clean staged hudi uploads on file errors
  src/functions/file_processor/app.py
  tests/unit/test_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: isolate staged hudi final keys
  src/functions/file_processor/app.py
  tests/unit/test_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: handle source move failures after hudi commit
  src/functions/file_processor/app.py
  tests/unit/test_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: stop dispatch on unexpected parser errors
  src/shared/non_nem_parsers.py
  tests/unit/test_dispatcher.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: update parser outcome terminology
  docs/superpowers/specs/2026-05-05-optima-demand-exporter-design.md
  docs/superpowers/specs/2026-05-05-optima-demand-profile-parser-design.md
  docs/superpowers/specs/2026-05-06-optima-interval-exporter-design.md
  tests/unit/parsers/optima/test_bunnings_billing.py
  tests/unit/parsers/optima/test_demand.py
  tests/unit/test_edge_cases.py
  tests/unit/test_nem12_streaming.py
  tests/unit/test_non_nem_parsers.py
  tests/unit/test_non_nem_parsers_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: align exporter specs with parser outcomes
  docs/superpowers/specs/2026-05-05-optima-demand-exporter-design.md
  docs/superpowers/specs/2026-05-05-optima-demand-profile-parser-design.md
  docs/superpowers/specs/2026-05-06-optima-interval-exporter-design.md
Due: trailing-whitespace

docs: correct demand outcome status wording
  docs/superpowers/specs/2026-05-05-optima-demand-profile-parser-design.md
Due: trailing-whitespace

docs: refresh parser outcome spec wording
  docs/superpowers/specs/2026-05-06-optima-interval-exporter-design.md
  docs/superpowers/specs/2026-05-06-parser-outcome-semantics-design.md
Due: trailing-whitespace

docs: align demand spec with parser outcome contract
  docs/superpowers/specs/2026-05-05-optima-demand-profile-parser-design.md
Due: trailing-whitespace

docs: refine parser outcome contract from production audit
  docs/superpowers/plans/2026-05-06-parser-outcome-semantics.md
  docs/superpowers/specs/2026-05-06-parser-outcome-semantics-design.md
Due: trailing-whitespace

docs: add code-vs-spec gap analysis and refine plan tasks
  docs/superpowers/plans/2026-05-06-parser-outcome-gap-analysis.md
  docs/superpowers/plans/2026-05-06-parser-outcome-semantics.md
Due: trailing-whitespace

docs: address gap analysis and plan review findings
  docs/superpowers/plans/2026-05-06-parser-outcome-gap-analysis.md
  docs/superpowers/plans/2026-05-06-parser-outcome-semantics.md
  docs/superpowers/specs/2026-05-06-parser-outcome-semantics-design.md
Due: trailing-whitespace
