Repository GrosvenorEngineeringGroup/sbm-ingester: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, trailing-whitespace

lefthook.yml:

# Lefthook configuration for sbm-ingester
# https://github.com/evilmartians/lefthook

# Pre-commit: Fast checks before each commit
pre-commit:
  parallel: true
  commands:
    # Ruff linting with auto-fix
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true  # Auto-stage fixed files

    # Ruff formatting
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # Check for trailing whitespace
    trailing-whitespace:
      glob: "*.{py,md,yml,yaml,json,toml}"
      run: |
        if grep -n '[[:space:]]$' {staged_files}; then
          echo "Error: Trailing whitespace found"
          exit 1
        fi

    # Validate YAML files (optional - requires PyYAML)
    # yaml-check:
    #   glob: "*.{yml,yaml}"
    #   run: uv run python -c "import yaml; [yaml.safe_load(open(f)) for f in '{staged_files}'.split()]"

# Pre-push: Run tests before pushing (can be slow)
pre-push:
  commands:
    # Run all tests
    pytest:
      run: uv run pytest -v

    # Check test coverage
    coverage:
      run: uv run pytest --cov=src --cov-report=term-missing --cov-fail-under=90

# Commit message validation (optional)
commit-msg:
  commands:
    # Enforce conventional commit format
    # commitlint:
    #   run: |
    #     if ! grep -qE '^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,72}' {1}; then
    #       echo "Commit message must follow Conventional Commits format"
    #       echo "Example: feat: add new feature"
    #       exit 1
    #     fi

# Skip hooks with LEFTHOOK=0 or LEFTHOOK_EXCLUDE=pytest

test: add scoping guard for _prefix_nmi_in_nem12
  tests/unit/optima_exporter/interval_exporter/test_prefix_scoping.py
Due: ruff-check, ruff-format, trailing-whitespace

test: cover remaining downloader HTTP error paths
  tests/unit/optima_exporter/interval_exporter/test_downloader.py
Due: ruff-check, ruff-format, trailing-whitespace

test: add cross-Lambda e2e test for Optima full chain
  tests/unit/optima_exporter/test_e2e_full_chain.py
Due: ruff-check, ruff-format, trailing-whitespace

chore: ignore Department tag to eliminate externally-managed drift
  terraform/providers.tf
Due: none

docs: add spec for optima interval_exporter → nem12_exporter rename
  docs/superpowers/specs/2026-04-14-optima-nem12-exporter-rename-design.md
Due: trailing-whitespace

docs: add implementation plan for optima nem12_exporter rename
  docs/superpowers/plans/2026-04-14-optima-nem12-exporter-rename.md
Due: trailing-whitespace

docs: fix review findings in nem12_exporter rename plan
  docs/superpowers/plans/2026-04-14-optima-nem12-exporter-rename.md
Due: trailing-whitespace

refactor: rename optima interval_exporter to nem12_exporter
  .github/workflows/main.yml
  README.md
  scripts/deploy-lambda.sh
  src/functions/optima_exporter/README.md
  src/functions/optima_exporter/nem12_exporter/__init__.py
  src/functions/optima_exporter/nem12_exporter/app.py
  src/functions/optima_exporter/nem12_exporter/downloader.py
  src/functions/optima_exporter/nem12_exporter/processor.py
  src/functions/optima_exporter/nem12_exporter/uploader.py
  terraform/optima_exporter.tf
  tests/conftest.py
  tests/unit/conftest.py
  tests/unit/optima_exporter/conftest.py
  tests/unit/optima_exporter/interval_exporter/__init__.py
  tests/unit/optima_exporter/nem12_exporter/__init__.py
  tests/unit/optima_exporter/nem12_exporter/test_app.py
  tests/unit/optima_exporter/nem12_exporter/test_downloader.py
  tests/unit/optima_exporter/nem12_exporter/test_prefix_scoping.py
  tests/unit/optima_exporter/nem12_exporter/test_processor.py
  tests/unit/optima_exporter/nem12_exporter/test_uploader.py
  tests/unit/optima_exporter/test_e2e_full_chain.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: correct stale scheduler cron and workflow filename in optima README
  src/functions/optima_exporter/README.md
Due: trailing-whitespace

docs: sync README and module README with current state
  README.md
  src/functions/optima_exporter/README.md
Due: trailing-whitespace

chore: add CI/CD IAM policy drift check
  README.md
  scripts/check_cicd_policy_drift.sh
  terraform/outputs.tf
Due: trailing-whitespace

docs: add Bunnings billing parser integration design spec
  docs/plans/2026-04-14-bunnings-billing-parser-design.md
Due: trailing-whitespace

docs: add Bunnings billing parser implementation plan
  docs/superpowers/plans/2026-04-14-bunnings-billing-parser.md
Due: trailing-whitespace

docs: fix billing parser plan (mapping completeness, import clarity, pyproject scripts)
  docs/superpowers/plans/2026-04-14-bunnings-billing-parser.md
Due: trailing-whitespace

feat: add Bunnings billing parser skeleton with filename guard
  src/shared/billing_parser.py
  tests/unit/test_billing_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: decode UTF-16 billing CSV and skip 7 metadata rows
  src/shared/billing_parser.py
  tests/unit/fixtures/bunnings_billing_sample.csv
  tests/unit/test_billing_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add CSV_FIELD_MAPPING and date/unit helpers for billing parser
  src/shared/billing_parser.py
  tests/unit/test_billing_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: lazy-cache nem12_mappings.json from S3 for billing parser
  src/shared/billing_parser.py
  tests/unit/test_billing_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: write Hudi sensor CSV for Bunnings billing rows
  src/shared/billing_parser.py
  tests/unit/test_billing_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: strip whitespace-only unit/currency values before default fallback
  src/shared/billing_parser.py
  tests/unit/test_billing_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

test: cover billing parser edge cases (missing map, blank, bad date, zero-row skip)
  tests/unit/test_billing_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: register bunnings_usage_and_spend_parser in non_nem dispatcher
  src/shared/non_nem_parsers.py
  tests/unit/test_billing_parser.py
Due: ruff-check, ruff-format, trailing-whitespace

chore: move Bunnings billing scheduler from 1st to 7th of month
  terraform/optima_exporter.tf
Due: none

chore: remove deprecated Aurora billing import path and unused artefacts
  docs/plans/2026-02-23-billing-csv-import-design.md
  docs/plans/2026-02-23-billing-csv-import.md
  docs/plans/2026-02-23-billing-neptune-hudi-design.md
  docs/plans/2026-02-23-billing-points-import-design.md
  pyproject.toml
  scripts/export_billing_to_hudi.py
  scripts/fetch_billing_point_ids.py
  scripts/generate_billing_points_csv.py
  scripts/import_billing_csv.py
  src/shared/db/__init__.py
  src/shared/db/engine.py
  src/shared/db/models/__init__.py
  src/shared/db/models/bill.py
  src/shared/db/models/meter.py
  src/shared/db/models/site.py
  src/shared/db/repository/__init__.py
  tests/unit/test_import_billing_csv.py
  uv.lock
Due: ruff-check, ruff-format, trailing-whitespace

docs: add non-nem-parsers modularization design spec
  docs/superpowers/specs/2026-05-05-non-nem-parsers-modularization-design.md
Due: trailing-whitespace

docs: address reviewer findings on parsers modularization spec
  docs/superpowers/specs/2026-05-05-non-nem-parsers-modularization-design.md
Due: trailing-whitespace

docs: add implementation plan for non-nem-parsers modularization
  docs/superpowers/plans/2026-05-05-non-nem-parsers-modularization.md
Due: trailing-whitespace

docs: address reviewer findings on parsers modularization plan
  docs/superpowers/plans/2026-05-05-non-nem-parsers-modularization.md
Due: trailing-whitespace

docs: complete MUST #3 fix — replace hard-coded line numbers with grep-by-name in Tasks 5-11
  docs/superpowers/plans/2026-05-05-non-nem-parsers-modularization.md
Due: trailing-whitespace

chore: scaffold parsers/ subpackage and mirrored test directories
  src/shared/parsers/__init__.py
  src/shared/parsers/envizi/__init__.py
  src/shared/parsers/green_square/__init__.py
  src/shared/parsers/optima/__init__.py
  src/shared/parsers/racv/__init__.py
  tests/unit/parsers/__init__.py
  tests/unit/parsers/envizi/__init__.py
  tests/unit/parsers/green_square/__init__.py
  tests/unit/parsers/optima/__init__.py
  tests/unit/parsers/racv/__init__.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: move noosa_solar_parser into parsers/racv/ subpackage
  src/shared/non_nem_parsers.py
  src/shared/parsers/racv/noosa_solar.py
  tests/unit/parsers/racv/test_noosa_solar.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: move + rename bunnings billing parser to parsers/optima/
  src/shared/non_nem_parsers.py
  src/shared/parsers/optima/bunnings_billing.py
  tests/unit/parsers/optima/test_bunnings_billing.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: extract optima_parser as parsers/optima/interval.py
  src/shared/non_nem_parsers.py
  src/shared/parsers/optima/interval.py
  tests/unit/parsers/optima/test_interval.py
  tests/unit/test_non_nem_parsers.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: extract optima_usage_and_spend_to_s3 as parsers/optima/racv_billing.py
  src/shared/non_nem_parsers.py
  src/shared/parsers/optima/racv_billing.py
  tests/unit/parsers/optima/test_racv_billing.py
  tests/unit/test_non_nem_parsers_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: extract racv_elec_parser as parsers/racv/elec.py
  src/shared/non_nem_parsers.py
  src/shared/parsers/racv/elec.py
  tests/unit/parsers/racv/test_elec.py
  tests/unit/test_non_nem_parsers.py
  tests/unit/test_non_nem_parsers_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: extract envizi_vertical_parser_water as parsers/envizi/vertical_water.py
  src/shared/non_nem_parsers.py
  src/shared/parsers/envizi/vertical_water.py
  tests/unit/parsers/envizi/test_vertical_water.py
  tests/unit/test_non_nem_parsers.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: extract envizi_vertical_parser_electricity as parsers/envizi/vertical_electricity.py
  src/shared/non_nem_parsers.py
  src/shared/parsers/envizi/vertical_electricity.py
  tests/unit/parsers/envizi/test_vertical_electricity.py
  tests/unit/test_non_nem_parsers.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: extract envizi_vertical_parser_water_bulk as parsers/envizi/vertical_water_bulk.py
  src/shared/non_nem_parsers.py
  src/shared/parsers/envizi/vertical_water_bulk.py
  tests/unit/parsers/envizi/test_vertical_water_bulk.py
  tests/unit/test_non_nem_parsers_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: extract green_square_private_wire_schneider_comx_parser as parsers/green_square/comx.py
  src/shared/non_nem_parsers.py
  src/shared/parsers/green_square/comx.py
  tests/unit/parsers/green_square/test_comx.py
  tests/unit/test_non_nem_parsers.py
  tests/unit/test_non_nem_parsers_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: shrink non_nem_parsers.py to dispatcher-only and move its tests
  src/shared/non_nem_parsers.py
  tests/unit/test_dispatcher.py
  tests/unit/test_non_nem_parsers_edge_cases.py
Due: ruff-check, ruff-format, trailing-whitespace
