Repository GrosvenorEngineeringGroup/sbm-ingester: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, trailing-whitespace

lefthook.yml:

# Lefthook configuration for sbm-ingester
# https://github.com/evilmartians/lefthook

# Pre-commit: Fast checks before each commit
pre-commit:
  parallel: true
  commands:
    # Ruff linting with auto-fix
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true  # Auto-stage fixed files

    # Ruff formatting
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # Check for trailing whitespace
    trailing-whitespace:
      glob: "*.{py,md,yml,yaml,json,toml}"
      run: |
        if grep -n '[[:space:]]$' {staged_files}; then
          echo "Error: Trailing whitespace found"
          exit 1
        fi

    # Validate YAML files (optional - requires PyYAML)
    # yaml-check:
    #   glob: "*.{yml,yaml}"
    #   run: uv run python -c "import yaml; [yaml.safe_load(open(f)) for f in '{staged_files}'.split()]"

# Pre-push: Run tests before pushing (can be slow)
pre-push:
  commands:
    # Run all tests
    pytest:
      run: uv run pytest -v

    # Check test coverage
    coverage:
      run: uv run pytest --cov=src --cov-report=term-missing --cov-fail-under=90

# Commit message validation (optional)
commit-msg:
  commands:
    # Enforce conventional commit format
    # commitlint:
    #   run: |
    #     if ! grep -qE '^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,72}' {1}; then
    #       echo "Commit message must follow Conventional Commits format"
    #       echo "Example: feat: add new feature"
    #       exit 1
    #     fi

# Skip hooks with LEFTHOOK=0 or LEFTHOOK_EXCLUDE=pytest

ci: build and deploy sbm-bunnings-billing-snapshot Lambda
  .github/workflows/main.yml
Due: trailing-whitespace

feat: local runner for billing snapshot Lambda
  scripts/run_billing_snapshot_locally.py
Due: ruff-check, ruff-format, trailing-whitespace

docs: add sbm-bunnings-billing-snapshot to Lambda inventory
  README.md
Due: trailing-whitespace

fix: address review findings in billing_snapshot
  .github/workflows/main.yml
  src/functions/billing_snapshot/app.py
  src/functions/billing_snapshot/athena.py
  terraform/billing_snapshot.tf
  tests/unit/billing_snapshot/test_athena.py
  tests/unit/billing_snapshot/test_pivot.py
  tests/unit/conftest.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: add missing S3 IAM perms for Athena to query Hudi
  terraform/billing_snapshot.tf
Due: none

docs: extend Project Structure tree for billing_snapshot module
  README.md
Due: trailing-whitespace
