Repository GrosvenorEngineeringGroup/sbm-ingester: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, trailing-whitespace

lefthook.yml:

# Lefthook configuration for sbm-ingester
# https://github.com/evilmartians/lefthook

# Pre-commit: Fast checks before each commit
pre-commit:
  parallel: true
  commands:
    # Ruff linting with auto-fix
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true  # Auto-stage fixed files

    # Ruff formatting
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # Check for trailing whitespace
    trailing-whitespace:
      glob: "*.{py,md,yml,yaml,json,toml}"
      run: |
        if grep -n '[[:space:]]$' {staged_files}; then
          echo "Error: Trailing whitespace found"
          exit 1
        fi

    # Validate YAML files (optional - requires PyYAML)
    # yaml-check:
    #   glob: "*.{yml,yaml}"
    #   run: uv run python -c "import yaml; [yaml.safe_load(open(f)) for f in '{staged_files}'.split()]"

# Pre-push: Run tests before pushing (can be slow)
pre-push:
  commands:
    # Run all tests
    pytest:
      run: uv run pytest -v

    # Check test coverage
    coverage:
      run: uv run pytest --cov=src --cov-report=term-missing --cov-fail-under=90

# Commit message validation (optional)
commit-msg:
  commands:
    # Enforce conventional commit format
    # commitlint:
    #   run: |
    #     if ! grep -qE '^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,72}' {1}; then
    #       echo "Commit message must follow Conventional Commits format"
    #       echo "Example: feat: add new feature"
    #       exit 1
    #     fi

# Skip hooks with LEFTHOOK=0 or LEFTHOOK_EXCLUDE=pytest

fix: move aws-xray-sdk to runtime dependencies
  pyproject.toml
  uv.lock
Due: trailing-whitespace

fix: set DynamoDB key_attr for idempotency persistence
  src/functions/file_processor/app.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add weekly archiver with concurrent processing
  .github/workflows/main.yml
  CHANGELOG.md
  README.md
  iac/locals.tf
  iac/main.tf
  iac/outputs.tf
  iac/providers.tf
  iac/variables.tf
  iac/versions.tf
  pyproject.toml
  scripts/deploy-lambda.sh
  scripts/migrate_archives_to_weekly.py
  src/functions/file_processor/app.py
  src/functions/weekly_archiver/app.py
  tests/unit/test_edge_cases.py
  tests/unit/test_file_stability.py
  tests/unit/test_integration.py
  tests/unit/test_migrate_archives.py
  tests/unit/test_weekly_archiver.py
  uv.lock
Due: ruff-check, ruff-format, trailing-whitespace

feat: add local NEM12 processing script
  pyproject.toml
  scripts/process_nem12_locally.py
  tests/unit/test_process_nem12_locally.py
  uv.lock
Due: ruff-check, ruff-format, trailing-whitespace

feat: add Glue ETL pipeline for Hudi data lake integration
  .github/workflows/main.yml
  CHANGELOG.md
  README.md
  docs/glue-optimization-plan.md
  iac/glue.tf
  iac/ingester.tf
  iac/locals.tf
  iac/logs.tf
  iac/main.tf
  iac/monitoring.tf
  iac/nem12_mappings.tf
  iac/outputs.tf
  iac/weekly_archiver.tf
  pyproject.toml
  scripts/deploy-lambda.sh
  scripts/deploy.sh
  scripts/migrate_archives_to_weekly.py
  src/__init__.py
  src/functions/glue_trigger/app.py
  src/glue/hudi_import/script.py
  tests/unit/test_glue_hudi_import.py
  tests/unit/test_glue_trigger.py
  tests/unit/test_migrate_archives.py
  uv.lock
Due: ruff-check, ruff-format, trailing-whitespace

refactor: unify Lambda dependency management by bundling into zip
  .github/workflows/main.yml
  iac/nem12_mappings.tf
  pyproject.toml
  uv.lock
Due: trailing-whitespace

fix: add tornado dependency for gremlinpython
  pyproject.toml
  uv.lock
Due: trailing-whitespace

feat: add Optima/BidEnergy data exporter Lambda
  .github/workflows/main.yml
  README.md
  docs/bunnings-optima-site-id.csv
  docs/glue-optimization-plan.md
  docs/racv-optima-site-id.csv
  docs/refactor-plan.md
  pyproject.toml
  scripts/deploy-lambda.sh
  scripts/deploy.sh
  scripts/import_optima_config_to_dynamodb.py
  src/functions/optima_exporter/app.py
  src/shared/non_nem_parsers.py
  terraform/glue.tf
  terraform/ingester.tf
  terraform/locals.tf
  terraform/logs.tf
  terraform/monitoring.tf
  terraform/nem12_mappings.tf
  terraform/optima_exporter.tf
  terraform/outputs.tf
  terraform/providers.tf
  terraform/variables.tf
  terraform/versions.tf
  terraform/weekly_archiver.tf
  tests/unit/conftest.py
  tests/unit/test_import_optima_config_to_dynamodb.py
  tests/unit/test_non_nem_parsers.py
  tests/unit/test_optima_exporter.py
  uv.lock
Due: ruff-check, ruff-format, trailing-whitespace

fix: update default recipients for Optima exporter
  src/functions/optima_exporter/app.py
  terraform/optima_exporter.tf
Due: ruff-check, ruff-format, trailing-whitespace

feat: enhance GitHub Actions workflow for Lambda deployments
  .github/workflows/main.yml
Due: trailing-whitespace

feat: migrate optima exporter email from SMTP to SES API
  scripts/import_optima_config_to_dynamodb.py
  src/functions/optima_exporter/app.py
  terraform/optima_exporter.tf
  tests/unit/test_optima_exporter.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: use verified SES sender address
  src/functions/optima_exporter/app.py
  terraform/optima_exporter.tf
  tests/unit/test_optima_exporter.py
Due: ruff-check, ruff-format, trailing-whitespace

revert: restore SMTP email with new credentials
  src/functions/optima_exporter/app.py
  terraform/optima_exporter.tf
  tests/unit/test_optima_exporter.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: use verified sender address for SMTP
  src/functions/optima_exporter/app.py
  terraform/optima_exporter.tf
  tests/unit/test_optima_exporter.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: replace email delivery with S3 upload for optima exporter
  src/functions/optima_exporter/app.py
  terraform/optima_exporter.tf
  tests/unit/test_optima_exporter.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add parallel processing for optima exporter using ThreadPoolExecutor
  src/functions/optima_exporter/app.py
  terraform/optima_exporter.tf
  tests/unit/test_optima_exporter.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: restructure optima_exporter into modular architecture
  .github/workflows/main.yml
  pyproject.toml
  src/functions/optima_exporter/README.md
  src/functions/optima_exporter/app.py
  src/functions/optima_exporter/billing_exporter/__init__.py
  src/functions/optima_exporter/billing_exporter/app.py
  src/functions/optima_exporter/billing_exporter/trigger.py
  src/functions/optima_exporter/interval_exporter/__init__.py
  src/functions/optima_exporter/interval_exporter/app.py
  src/functions/optima_exporter/interval_exporter/downloader.py
  src/functions/optima_exporter/interval_exporter/processor.py
  src/functions/optima_exporter/interval_exporter/uploader.py
  src/functions/optima_exporter/optima_shared/__init__.py
  src/functions/optima_exporter/optima_shared/auth.py
  src/functions/optima_exporter/optima_shared/config.py
  src/functions/optima_exporter/optima_shared/dynamodb.py
  terraform/optima_exporter.tf
  tests/conftest.py
  tests/unit/conftest.py
  tests/unit/optima_exporter/__init__.py
  tests/unit/optima_exporter/billing_exporter/__init__.py
  tests/unit/optima_exporter/billing_exporter/test_app.py
  tests/unit/optima_exporter/billing_exporter/test_trigger.py
  tests/unit/optima_exporter/conftest.py
  tests/unit/optima_exporter/interval_exporter/__init__.py
  tests/unit/optima_exporter/interval_exporter/test_app.py
  tests/unit/optima_exporter/interval_exporter/test_downloader.py
  tests/unit/optima_exporter/interval_exporter/test_processor.py
  tests/unit/optima_exporter/interval_exporter/test_uploader.py
  tests/unit/optima_exporter/optima_shared/__init__.py
  tests/unit/optima_exporter/optima_shared/test_auth.py
  tests/unit/optima_exporter/optima_shared/test_config.py
  tests/unit/optima_exporter/optima_shared/test_dynamodb.py
  tests/unit/test_optima_exporter.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add timestamp suffix to optima CSV filenames for uniqueness
  src/functions/optima_exporter/interval_exporter/downloader.py
  tests/unit/optima_exporter/interval_exporter/test_downloader.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add streaming NEM12 parser with performance optimizations
  .github/workflows/main.yml
  .gitignore
  docs/ARCHITECTURE.md
  docs/architecture.svg
  lefthook.yml
  pyproject.toml
  src/functions/file_processor/app.py
  src/libs/__init__.py
  src/libs/nemreader/__init__.py
  src/libs/nemreader/nem_objects.py
  src/libs/nemreader/nem_reader.py
  src/libs/nemreader/py.typed
  src/libs/nemreader/split_days.py
  src/libs/nemreader/streaming.py
  src/libs/nemreader/version.py
  src/shared/__init__.py
  src/shared/nem_adapter.py
  terraform/ingester.tf
  tests/unit/conftest.py
  tests/unit/fixtures/nem12_15min_interval.csv
  tests/unit/fixtures/nem12_5min_interval.csv
  tests/unit/fixtures/nem12_blank_lines.csv
  tests/unit/fixtures/nem12_empty.csv
  tests/unit/fixtures/nem12_missing_values.csv
  tests/unit/fixtures/nem12_multiday.csv
  tests/unit/fixtures/nem12_multiple_900.csv
  tests/unit/fixtures/nem12_no_900.csv
  tests/unit/fixtures/nem12_with_400_events.csv
  tests/unit/test_batch_s3_writes.py
  tests/unit/test_edge_cases.py
  tests/unit/test_nem12_real_file_equivalence.py
  tests/unit/test_nem12_streaming.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add awswrangler and tqdm dependencies
  pyproject.toml
  uv.lock
Due: trailing-whitespace

feat: create module structure
  .gitignore
  src/functions/data_gap_detector/__init__.py
  tests/unit/data_gap_detector/__init__.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: implement detector module with gap analysis
  src/functions/data_gap_detector/detector.py
  tests/unit/data_gap_detector/test_detector.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: implement report module for CSV generation
  src/functions/data_gap_detector/report.py
  tests/unit/data_gap_detector/test_report.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: implement mappings module with project filtering
  src/functions/data_gap_detector/mappings.py
  tests/unit/data_gap_detector/test_mappings.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: implement query module with batch concurrent execution
  src/functions/data_gap_detector/query.py
  tests/unit/data_gap_detector/test_query.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: implement app module with Lambda handler and CLI
  src/functions/data_gap_detector/app.py
  tests/unit/data_gap_detector/test_app.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: normalize Athena column names to lowercase
  docs/plans/2026-02-03-data-gap-detector-design.md
  docs/plans/2026-02-03-data-gap-detector-implementation.md
  src/functions/data_gap_detector/detector.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add retry logic and failed sensor tracking
  src/functions/data_gap_detector/app.py
  src/functions/data_gap_detector/query.py
  tests/unit/data_gap_detector/test_app.py
  tests/unit/data_gap_detector/test_query.py
Due: ruff-check, ruff-format, trailing-whitespace

chore: misc updates for ingester and optima config
  docs/nem12_mappings.json
  terraform/ingester.tf
  terraform/optima_exporter.tf
  tests/unit/test_nem12_real_file_equivalence.py
Due: ruff-check, ruff-format, trailing-whitespace

chore: exclude src/libs from coverage check
  lefthook.yml
  pyproject.toml
Due: trailing-whitespace

fix: move awswrangler to dev dependencies to reduce Lambda size
  pyproject.toml
Due: trailing-whitespace

chore: update uv.lock after dependency change
  uv.lock
Due: none

feat: support partial date parameters in interval exporter
  src/functions/optima_exporter/interval_exporter/processor.py
  tests/unit/optima_exporter/interval_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add weekly full-history scheduler for Bunnings
  terraform/optima_exporter.tf
Due: none

feat: add weekly full-history scheduler for Bunnings (#1)
  src/functions/optima_exporter/interval_exporter/processor.py
  terraform/optima_exporter.tf
  tests/unit/optima_exporter/interval_exporter/test_processor.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: update deploy-lambda.sh for modular optima-exporter structure
  scripts/deploy-lambda.sh
Due: none

feat: add CIM Exporter with Playwright browser automation
  .github/workflows/main.yml
  .gitignore
  pyproject.toml
  scripts/deploy-cim-exporter.sh
  src/functions/cim_exporter/Dockerfile
  src/functions/cim_exporter/__init__.py
  src/functions/cim_exporter/cim_shared/__init__.py
  src/functions/cim_exporter/cim_shared/config.py
  src/functions/cim_exporter/report_exporter/__init__.py
  src/functions/cim_exporter/report_exporter/app.py
  src/functions/cim_exporter/report_exporter/browser.py
  src/functions/cim_exporter/report_exporter/emailer.py
  src/functions/cim_exporter/requirements.txt
  src/functions/data_gap_detector/__init__.py
  src/functions/data_gap_detector/app.py
  src/functions/data_gap_detector/detector.py
  src/functions/data_gap_detector/mappings.py
  src/functions/data_gap_detector/query.py
  src/functions/data_gap_detector/report.py
  terraform/cim_exporter.tf
  tests/unit/data_gap_detector/__init__.py
  tests/unit/data_gap_detector/test_app.py
  tests/unit/data_gap_detector/test_detector.py
  tests/unit/data_gap_detector/test_mappings.py
  tests/unit/data_gap_detector/test_query.py
  tests/unit/data_gap_detector/test_report.py
  uv.lock
Due: ruff-check, ruff-format, trailing-whitespace

feat: add CharterHallAFDD to CIM report recipients
  terraform/cim_exporter.tf
Due: none

docs: add CIM Exporter documentation
  README.md
Due: trailing-whitespace
